@charset "utf-8";
@import url(normalize.css);
/*
# set
*/
/*
# title
*/
/* line 8, ../scss/_controls.scss */
.title.page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1.42857em;
  background-color: #f1f1f1;
  text-align: center;
}
/* line 15, ../scss/_controls.scss */
.title.page:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 22, ../scss/_controls.scss */
.title.page .title-text {
  display: inline-block;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}

/*
# breadcrumb
*/
/* line 34, ../scss/_controls.scss */
.breadcrumb {
  height: 100%;
  background-color: #f1f1f1;
}
/* line 39, ../scss/_controls.scss */
.breadcrumb .breadcrumb-label {
  display: inline-block;
  line-height: 30px;
  padding-left: 0.71429em;
}
/* line 46, ../scss/_controls.scss */
.breadcrumb .breadcrumb-label:first-child {
  padding-left: 1.42857em;
}
/* line 50, ../scss/_controls.scss */
.breadcrumb a.breadcrumb-label {
  max-width: 20ex;
  padding-right: 20px;
  background: url(../image/controls/breadcrumb-separator_10x30.png) no-repeat right center;
  color: #666666;
  text-decoration: none;
}
/* line 57, ../scss/_controls.scss */
.breadcrumb a.breadcrumb-label:hover {
  color: #333333;
}
/* line 62, ../scss/_controls.scss */
.breadcrumb span.breadcrumb-label {
  max-width: 30ex;
  padding-right: 1.42857em;
  font-weight: bold;
}

/*
# panel
*/
/* line 72, ../scss/_controls.scss */
.panel.page {
  height: 100%;
  background-color: #f1f1f1;
}
/* line 77, ../scss/_controls.scss */
.panel.page .panel-title {
  float: left;
  margin-left: 1.42857em;
}
/* line 82, ../scss/_controls.scss */
.panel.page .panel-menu {
  float: right;
  margin-right: 1.42857em;
}

/*
# lists
*/
/* line 91, ../scss/_controls.scss */
.lists {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px 1px 0;
  background-color: #f1f1f1;
}
/* line 99, ../scss/_controls.scss */
.lists ul {
  margin: 0;
  padding-left: 0;
}
/* line 104, ../scss/_controls.scss */
.lists li {
  list-style: none;
}
/* line 108, ../scss/_controls.scss */
.lists .is-selected .list-item {
  background-color: white;
}
/* line 112, ../scss/_controls.scss */
.lists .list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  color: #333333;
  text-decoration: none;
}
/* line 118, ../scss/_controls.scss */
.lists .list-item:hover {
  background-color: #cdcdcd;
}

/* line 126, ../scss/_controls.scss */
.lists.menu-link .list-item {
  padding: 0.71429em 1.42857em;
  border-bottom: 1px solid #dddddd;
  word-break: break-all;
}
/* line 133, ../scss/_controls.scss */
div[class*="type-b"] .layout-right .lists.menu-link {
  border-width: 0 0 0 1px;
}
/* line 138, ../scss/_controls.scss */
div[class*="type-b"] .layout-left .lists.menu-link {
  position: fixed;
  width: 180px;
  border-width: 0 1px 0 0;
}

/* line 147, ../scss/_controls.scss */
.lists.menu-icon .list-item {
  height: 60px;
  border-bottom: 1px solid #dddddd;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 154, ../scss/_controls.scss */
.lists.menu-icon .list-label {
  display: none;
}
/* line 160, ../scss/_controls.scss */
.lists.menu-icon .is-selected .icon-portal {
  background-image: url(../image/controls/portal-selected_28x20.png);
}
/* line 160, ../scss/_controls.scss */
.lists.menu-icon .is-selected .icon-notification {
  background-image: url(../image/controls/notification-selected_28x20.png);
}
/* line 160, ../scss/_controls.scss */
.lists.menu-icon .is-selected .icon-space {
  background-image: url(../image/controls/space-selected_28x20.png);
}
/* line 166, ../scss/_controls.scss */
.lists.menu-icon .icon-portal {
  background-image: url(../image/controls/portal_28x20.png);
}
/* line 166, ../scss/_controls.scss */
.lists.menu-icon .icon-notification {
  background-image: url(../image/controls/notification_28x20.png);
}
/* line 166, ../scss/_controls.scss */
.lists.menu-icon .icon-space {
  background-image: url(../image/controls/space_28x20.png);
}
/* line 172, ../scss/_controls.scss */
div[class*="type-b"] + .container-menu .lists.menu-icon {
  position: fixed;
  width: 60px;
  padding: 50px 0 50px;
  border-width: 0 1px 0 0;
}

/* line 6, ../scss/_placeholders.scss */
.breadcrumb, .panel.page {
  *zoom: 1;
}
/* line 38, ../../../../../../Users/kambie/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.breadcrumb:after, .panel.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../scss/_placeholders.scss */
.title.page .title-text, .breadcrumb .breadcrumb-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
# text
*/
/* line 13, ../scss/base.scss */
.warning {
  color: #b94a48;
}

/* line 17, ../scss/base.scss */
.attention {
  color: #c09853;
}

/* line 21, ../scss/base.scss */
.info {
  color: #3a87ad;
}

/*
# tag
*/
/* line 28, ../scss/base.scss */
html {
  height: 100%;
}

/* line 32, ../scss/base.scss */
body {
  height: 100%;
  background-color: white;
  color: #333333;
  font: 14px/1.5 Futura, "Meiryo", "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Osaka", "MS PGothic", arial, helvetica, clean, sans-serif;
}

/*
# sample
*/
/* line 42, ../scss/base.scss */
pre.sample {
  margin: 0;
}

/* line 48, ../scss/base.scss */
table.sample td {
  white-space: nowrap;
}

/* line 53, ../scss/base.scss */
.color-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0.21429em 0.71429em;
  vertical-align: middle;
}
