@charset "utf-8";
@import url(normalize.css);
/*
# set
*/
/* line 5, ../scss/_placeholders.scss */
.breadcrumb, .panel.page {
  *zoom: 1;
}
/* line 38, ../../../../../../Users/kambie/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.breadcrumb:after, .panel.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 9, ../scss/_placeholders.scss */
.control-group {
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/_placeholders.scss */
.value, .input-text, .input-radio, .input-checkbox {
  font-size: 0;
}

/* line 19, ../scss/_placeholders.scss */
.prepend .lists.menu-dropdown .button-toggle, .prepend-text, .prepend-button, .append .lists.menu-dropdown .button-toggle, .append-text, .append-button, .input-select .lists.menu-dropdown .button-toggle, .input-file-button, .modal-show .b-d .content-header .title-text, .modal-show .b-d-1 .content-header .title-text, .modal-show .b-d-2 .content-header .title-text, .title.page .title-text, .breadcrumb .breadcrumb-label, .lists.menu-dropdown .list-item, .input-radio-item, .input-checkbox-item, .input-file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 27, ../scss/_placeholders.scss */
.modal-show .b-d .modal-main:before, .modal-show .b-d-1 .modal-main:before, .modal-show .b-d-2 .modal-main:before, .modal-show .b-d .actions:before, .modal-show .b-d-1 .actions:before, .modal-show .b-d-2 .actions:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

/* line 37, ../scss/_placeholders.scss */
.prepend .lists.menu-dropdown .button-toggle, .prepend-text, .prepend-button, .append .lists.menu-dropdown .button-toggle, .append-text, .append-button, .input-select .lists.menu-dropdown .button-toggle, .input-file-button {
  display: inline-block;
  max-width: 99%;
  vertical-align: top;
  padding: 3px 6px;
  border: 1px solid #dddddd;
  border-radius: 0.286em;
  background-color: #f1f1f1;
  color: #666666;
  font-size: 14px;
}

/* line 50, ../scss/_placeholders.scss */
.prepend .lists.menu-dropdown .button-toggle, .prepend-text, .prepend-button {
  border-radius: 0.286em 0 0 0.286em;
}

/* line 55, ../scss/_placeholders.scss */
.append .lists.menu-dropdown .button-toggle, .append-text, .append-button {
  border-radius: 0 0.286em 0.286em 0;
  border-left: 0 none;
}

/* line 61, ../scss/_placeholders.scss */
.input-select .lists.menu-dropdown .button-toggle, .input-file-button {
  border-bottom-color: #d0d0d0;
}

/*
# modal
*/
/* line 12, ../scss/_component.scss */
.modal {
  display: none;
}

/* line 16, ../scss/_component.scss */
body.modal-show {
  overflow: hidden;
}

/* line 22, ../scss/_component.scss */
.modal-show .modal.b-d, .modal-show .modal.b-d-1, .modal-show .modal.b-d-2 {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  height: 100%;
  overflow-y: scroll;
}
/* line 33, ../scss/_component.scss */
.modal-show .b-d .modal-mask, .modal-show .b-d-1 .modal-mask, .modal-show .b-d-2 .modal-mask {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}
/* line 44, ../scss/_component.scss */
.modal-show .b-d .modal-main, .modal-show .b-d-1 .modal-main, .modal-show .b-d-2 .modal-main {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-align: center;
}
/* line 55, ../scss/_component.scss */
.modal-show .b-d .content, .modal-show .b-d-1 .content, .modal-show .b-d-2 .content {
  display: inline-block;
  position: relative;
  min-width: 300px;
  max-width: 94%;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0 10px;
  background-color: white;
  text-align: left;
}
/* line 67, ../scss/_component.scss */
.modal-show .b-d .close, .modal-show .b-d-1 .close, .modal-show .b-d-2 .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  overflow: hidden;
  border: 0 none;
  background: url(../image/component/close_12x12.png) no-repeat center center transparent;
  text-indent: 200%;
}
/* line 78, ../scss/_component.scss */
.modal-show .b-d .close:hover, .modal-show .b-d-1 .close:hover, .modal-show .b-d-2 .close:hover {
  background-color: whitesmoke;
}
/* line 83, ../scss/_component.scss */
.modal-show .b-d .content-header, .modal-show .b-d-1 .content-header, .modal-show .b-d-2 .content-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 46px;
}
/* line 87, ../scss/_component.scss */
.modal-show .b-d .content-header .title.dialog, .modal-show .b-d-1 .content-header .title.dialog, .modal-show .b-d-2 .content-header .title.dialog {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  line-height: 46px;
  padding-right: 46px;
}
/* line 94, ../scss/_component.scss */
.modal-show .b-d .content-header .title-text, .modal-show .b-d-1 .content-header .title-text, .modal-show .b-d-2 .content-header .title-text {
  display: inline-block;
  width: auto;
  max-width: 100%;
  color: #666666;
}
/* line 103, ../scss/_component.scss */
.modal-show .b-d .controls, .modal-show .b-d-1 .controls, .modal-show .b-d-2 .controls {
  overflow: hidden;
  padding-bottom: 20px;
  word-break: break-all;
}
/* line 109, ../scss/_component.scss */
.modal-show .b-d .actions, .modal-show .b-d-1 .actions, .modal-show .b-d-2 .actions {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 46px;
}
/* line 113, ../scss/_component.scss */
.modal-show .controls + .b-d .actions, .modal-show .controls + .b-d-1 .actions, .modal-show .controls + .b-d-2 .actions {
  border-top: 1px solid #dddddd;
}

/* line 119, ../scss/_component.scss */
.modal-show .b-d-1 .content-header, .modal-show .b-d-1 .content-actions, .modal-show .b-d-2 .content-header, .modal-show .b-d-2 .actions {
  position: fixed;
  z-index: 10001;
  width: 80%;
  max-width: 800px;
  background-color: white;
}

/* line 136, ../scss/_component.scss */
.modal-show .b-d-1 .content {
  width: 80%;
  max-width: 800px;
}
/* line 141, ../scss/_component.scss */
.modal-show .b-d-1 .close {
  right: -10px;
}
/* line 149, ../scss/_component.scss */
.modal-show .b-d-1 .content-actions {
  margin-top: 46px;
  border-bottom: 1px solid #dddddd;
}
/* line 155, ../scss/_component.scss */
.modal-show .b-d-1 .content-body {
  padding-top: 92px;
}
/* line 159, ../scss/_component.scss */
.modal-show .b-d-1 .controls {
  padding-top: 20px;
}

/* line 168, ../scss/_component.scss */
.modal-show .b-d-2 .content {
  width: 80%;
  height: 100%;
  max-width: 800px;
  padding: 0;
}
/* line 175, ../scss/_component.scss */
.modal-show .b-d-2 .content-header {
  padding: 0 10px;
  border-bottom: 1px solid #dddddd;
}
/* line 181, ../scss/_component.scss */
.modal-show .b-d-2 .controls {
  padding: 56px 10px 56px;
  background-color: white;
}
/* line 186, ../scss/_component.scss */
.modal-show .b-d-2 .actions {
  bottom: 0;
  padding: 0 10px;
  border-top: 1px solid #dddddd;
  background-color: rgba(255, 255, 255, 0.8);
}

/*
# title
*/
/* line 198, ../scss/_component.scss */
.title.page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  background-color: #f1f1f1;
  text-align: center;
}
/* line 205, ../scss/_component.scss */
.title.page:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 212, ../scss/_component.scss */
.title.page .title-text {
  display: inline-block;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}

/*
# breadcrumb
*/
/* line 224, ../scss/_component.scss */
.breadcrumb {
  height: 100%;
  background-color: #f1f1f1;
  white-space: nowrap;
}
/* line 230, ../scss/_component.scss */
.breadcrumb .breadcrumb-label {
  display: inline-block;
  line-height: 30px;
  padding-left: 10px;
}
/* line 237, ../scss/_component.scss */
.breadcrumb .breadcrumb-label:first-child {
  padding-left: 20px;
}
/* line 241, ../scss/_component.scss */
.breadcrumb a.breadcrumb-label {
  max-width: 20ex;
  padding-right: 20px;
  background: url(../image/component/breadcrumb-separator_10x30.png) no-repeat right center;
  color: #666666;
  text-decoration: none;
}
/* line 248, ../scss/_component.scss */
.breadcrumb a.breadcrumb-label:hover {
  color: #333333;
}
/* line 253, ../scss/_component.scss */
.breadcrumb span.breadcrumb-label {
  max-width: 30ex;
  padding-right: 20px;
  font-weight: bold;
}

/*
# panel
*/
/* line 263, ../scss/_component.scss */
.panel.page {
  height: 100%;
  background-color: #f1f1f1;
}
/* line 268, ../scss/_component.scss */
.panel.page .panel-title {
  float: left;
  margin-left: 20px;
}
/* line 273, ../scss/_component.scss */
.panel.page .panel-menu {
  float: right;
  margin-right: 20px;
}

/*
# lists
*/
/* line 282, ../scss/_component.scss */
.lists {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px 1px 0;
  background-color: #f1f1f1;
}
/* line 290, ../scss/_component.scss */
.lists ul {
  margin: 0;
  padding-left: 0;
}
/* line 295, ../scss/_component.scss */
.lists li {
  list-style: none;
}
/* line 299, ../scss/_component.scss */
.lists .is-selected .list-item {
  background-color: white;
}
/* line 303, ../scss/_component.scss */
.lists .list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  color: #333333;
  text-decoration: none;
}
/* line 309, ../scss/_component.scss */
.lists .list-item:hover {
  background-color: whitesmoke;
}

/* line 318, ../scss/_component.scss */
.lists.menu-link .list-item {
  padding: 10px 20px;
  border-bottom: 1px solid #dddddd;
  word-break: break-all;
}
/* line 325, ../scss/_component.scss */
div[class*="type-b"] .layout-right .lists.menu-link {
  border-width: 0 0 0 1px;
}
/* line 330, ../scss/_component.scss */
div[class*="type-b"] .layout-left .lists.menu-link {
  position: fixed;
  width: 180px;
  border-width: 0 1px 0 0;
}

/* line 340, ../scss/_component.scss */
.lists.menu-icon .list-item {
  height: 60px;
  border-bottom: 1px solid #dddddd;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 347, ../scss/_component.scss */
.lists.menu-icon .list-label {
  display: none;
}
/* line 353, ../scss/_component.scss */
.lists.menu-icon .is-selected .icon-portal {
  background-image: url(../image/component/portal-selected_28x20.png);
}
/* line 353, ../scss/_component.scss */
.lists.menu-icon .is-selected .icon-notification {
  background-image: url(../image/component/notification-selected_28x20.png);
}
/* line 353, ../scss/_component.scss */
.lists.menu-icon .is-selected .icon-space {
  background-image: url(../image/component/space-selected_28x20.png);
}
/* line 359, ../scss/_component.scss */
.lists.menu-icon .icon-portal {
  background-image: url(../image/component/portal_28x20.png);
}
/* line 359, ../scss/_component.scss */
.lists.menu-icon .icon-notification {
  background-image: url(../image/component/notification_28x20.png);
}
/* line 359, ../scss/_component.scss */
.lists.menu-icon .icon-space {
  background-image: url(../image/component/space_28x20.png);
}
/* line 365, ../scss/_component.scss */
div[class*="type-b"] + .container-menu .lists.menu-icon {
  position: fixed;
  width: 60px;
  padding: 50px 0 50px;
  border-width: 0 1px 0 0;
}

/* line 374, ../scss/_component.scss */
.lists.menu-dropdown {
  display: inline-block;
  border-width: 0;
}
/* line 382, ../scss/_component.scss */
.lists.menu-dropdown .append-button {
  padding: 3px 10px;
  border-radius: 0;
}
/* line 387, ../scss/_component.scss */
.lists.menu-dropdown .symbol-down {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background: url(../image/component/symbol-down_12x12.png) no-repeat center center;
}
/* line 407, ../scss/_component.scss */
.lists.menu-dropdown > ul {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  min-width: 180px;
  margin-top: 3px;
  border: 1px solid #dddddd;
  border-radius: 0.286em;
  background-color: white;
  font-size: 14px;
}
/* line 419, ../scss/_component.scss */
.lists.menu-dropdown .list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 99%;
  padding: 10px 20px;
  border-bottom: 1px solid #dddddd;
  word-break: break-all;
}
/* line 428, ../scss/_component.scss */
.lists.menu-dropdown .is-selected .list-item {
  background: url(../image/component/check_7x7.png) no-repeat 7px center;
}
/* line 434, ../scss/_component.scss */
.lists.menu-dropdown.is-open > ul {
  display: block;
}
/* line 445, ../scss/_component.scss */
.is-disabled .lists.menu-dropdown .button-toggle {
  cursor: not-allowed;
}
/* line 450, ../scss/_component.scss */
.is-disabled .lists.menu-dropdown .symbol-down {
  background-image: url(../image/component/symbol-down-disabled_12x12.png);
}
/* line 455, ../scss/_component.scss */
.is-disabled .lists.menu-dropdown.is-open > ul {
  display: none;
}
/* line 459, ../scss/_component.scss */
.is-disabled .lists.menu-dropdown.is-open .button-toggle {
  cursor: not-allowed;
}

/*
# layout
*/
/* line 12, ../scss/_controls.scss */
.control-group {
  border: 0 none;
}

/* line 17, ../scss/_controls.scss */
.row {
  margin-bottom: 10px;
  padding-right: 20px;
}

/* line 22, ../scss/_controls.scss */
.label {
  margin-bottom: 3px;
}
/* line 25, ../scss/_controls.scss */
.label.is-required .label-text:after {
  content: "*";
  padding-left: 3px;
  color: #c09853;
}

/*
# tags
*/
/* line 43, ../scss/_controls.scss */
label,
input,
button,
select,
textarea {
  color: #333333;
  font: 14px/1.5 Futura, "Meiryo", "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Osaka", "MS PGothic", arial, helvetica, clean, sans-serif;
  font-weight: normal;
}

/*
# input
*/
/* line 52, ../scss/_controls.scss */
.inline-text, .inline-image, input[type="text"], textarea,
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"], .input-radio-item, .input-checkbox-item, .input-file-droppable,
.input-file-list,
.input-file-item,
.input-file-button,
.input-file-button-text,
.input-file-upload,
.input-file-inline-text {
  display: inline-block;
  font-size: 14px;
}

/*
# inline
*/
/* line 61, ../scss/_controls.scss */
.inline-text {
  margin-bottom: 10px;
  padding: 3px 3px 3px 0;
}
/* line 66, ../scss/_controls.scss */
.is-error + .inline-text {
  display: block;
  color: #b94a48;
}
/* line 72, ../scss/_controls.scss */
.input-text.is-error + .inline-text, .input-textarea.is-error + .inline-text {
  margin-top: -13px;
}
/* line 77, ../scss/_controls.scss */
.input-radio.is-error + .inline-text, .is-error.input-checkbox + .inline-text, .input-checkbox.is-error + .inline-text {
  margin-top: -6px;
}
/* line 82, ../scss/_controls.scss */
.input-file.is-error + .inline-text, .input-select.is-error + .inline-text {
  margin-top: -3px;
}

/* line 88, ../scss/_controls.scss */
.inline-image {
  margin-bottom: 10px;
  padding: 3px 3px 3px 0;
}
/* line 93, ../scss/_controls.scss */
.inline-image img {
  width: 80px;
  max-width: 99%;
  vertical-align: middle;
  border-radius: 0.286em;
}

/*
# input-text
*/
/* line 104, ../scss/_controls.scss */
.input-text {
  display: inline-block;
  vertical-align: top;
  padding-right: 3px;
}

/* line 116, ../scss/_controls.scss */
input[type="text"], textarea,
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"] {
  vertical-align: top;
  margin-bottom: 10px;
  padding: 3px 6px;
  border: 1px solid #dddddd;
  border-radius: 0.286em;
  background-color: white;
}
/* line 131, ../scss/_controls.scss */
input[type="text"][required], textarea[required],
input[type="password"][required],
input[type="number"][required],
input[type="email"][required],
input[type="url"][required],
input[type="tel"][required] {
  -webkit-box-shadow: inset 0 1px 1px rgba(192, 152, 83, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(192, 152, 83, 0.1);
  box-shadow: inset 0 1px 1px rgba(192, 152, 83, 0.1);
  border-color: #c09853;
}
/* line 136, ../scss/_controls.scss */
.is-success input[type="text"], .is-success textarea, .is-success
input[type="password"], .is-success
input[type="number"], .is-success
input[type="email"], .is-success
input[type="url"], .is-success
input[type="tel"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(65, 132, 52, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(65, 132, 52, 0.1);
  box-shadow: inset 0 1px 1px rgba(65, 132, 52, 0.1);
  border-color: #418434;
}
/* line 141, ../scss/_controls.scss */
.is-error input[type="text"], .is-error textarea, .is-error
input[type="password"], .is-error
input[type="number"], .is-error
input[type="email"], .is-error
input[type="url"], .is-error
input[type="tel"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(185, 74, 72, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(185, 74, 72, 0.1);
  box-shadow: inset 0 1px 1px rgba(185, 74, 72, 0.1);
  border-color: #b94a48;
}
/* line 147, ../scss/_controls.scss */
.is-focus input[type="text"], .is-focus textarea, input[type="text"]:focus, textarea:focus, .is-focus
input[type="password"],
input[type="password"]:focus, .is-focus
input[type="number"],
input[type="number"]:focus, .is-focus
input[type="email"],
input[type="email"]:focus, .is-focus
input[type="url"],
input[type="url"]:focus, .is-focus
input[type="tel"],
input[type="tel"]:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(140, 190, 218, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(140, 190, 218, 0.1);
  box-shadow: inset 0 1px 1px rgba(140, 190, 218, 0.1);
  outline: 0;
  background-color: #fbfdf6;
  border-color: #8cbeda;
}
/* line 154, ../scss/_controls.scss */
input[type="text"]:disabled, textarea:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="tel"]:disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
  background-color: #eeeeee;
  border-color: #dddddd;
}

/* line 164, ../scss/_controls.scss */
.prepend,
.append {
  white-space: nowrap;
}

/* line 170, ../scss/_controls.scss */
.prepend > input {
  margin-left: -1px;
  border-radius: 0 0.286em 0.286em 0;
}
/* line 175, ../scss/_controls.scss */
.append > input {
  border-radius: 0.286em 0 0 0.286em;
}
/* line 179, ../scss/_controls.scss */
.prepend.append > input {
  border-radius: 0;
}

/* line 202, ../scss/_controls.scss */
.input-min > input {
  width: 40px;
}

/* line 206, ../scss/_controls.scss */
.input-small > input {
  width: 80px;
}

/* line 210, ../scss/_controls.scss */
.input-base > input {
  width: 160px;
}

/* line 214, ../scss/_controls.scss */
.input-big > input {
  width: 320px;
}

/* line 218, ../scss/_controls.scss */
.input-max > input {
  width: 640px;
}

/*
# radio checkbox
*/
/* line 226, ../scss/_controls.scss */
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  line-height: 1.5;
  vertical-align: middle;
}
/* line 231, ../scss/_controls.scss */
input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

/* line 243, ../scss/_controls.scss */
.input-radio + .input-text, .input-checkbox + .input-text, .input-radio + .input-textarea, .input-checkbox + .input-textarea, .input-radio + .input-file, .input-checkbox + .input-file, .input-radio + .input-select, .input-checkbox + .input-select {
  margin-left: 13px;
}

/* line 248, ../scss/_controls.scss */
.input-radio-item, .input-checkbox-item {
  display: block;
  max-width: 99%;
  margin: 0 10px 3px 0;
  padding-left: 1px;
}
/* line 256, ../scss/_controls.scss */
.is-inline .input-radio-item, .is-inline .input-checkbox-item {
  display: inline;
}

/* line 261, ../scss/_controls.scss */
.label-radio, .label-checkbox {
  cursor: pointer;
  vertical-align: middle;
  padding-left: 3px;
  color: #666666;
}
/* line 267, ../scss/_controls.scss */
input:disabled + .label-radio, input:disabled + .label-checkbox {
  cursor: not-allowed;
  color: #cccccc;
}
/* line 272, ../scss/_controls.scss */
.input-radio-item:hover .label-radio, .input-checkbox-item:hover .label-radio, .input-radio-item:hover .label-checkbox, .input-checkbox-item:hover .label-checkbox {
  color: #333333;
}
/* line 276, ../scss/_controls.scss */
.input-radio-item:hover input:disabled + .label-radio, .input-checkbox-item:hover input:disabled + .label-radio, .input-radio-item:hover input:disabled + .label-checkbox, .input-checkbox-item:hover input:disabled + .label-checkbox {
  color: #cccccc;
}

/* line 283, ../scss/_controls.scss */
.input-radio.item-image .input-radio-item, .item-image.input-checkbox .input-radio-item, .input-radio.item-image .input-checkbox-item, .item-image.input-checkbox .input-checkbox-item {
  display: inline-block;
  margin-right: 3px;
}
/* line 288, ../scss/_controls.scss */
.input-radio.item-image input[type="radio"], .item-image.input-checkbox input[type="radio"] {
  display: none;
}
/* line 292, ../scss/_controls.scss */
.input-radio.item-image .label-radio, .item-image.input-checkbox .label-radio, .input-radio.item-image .label-checkbox, .item-image.input-checkbox .label-checkbox {
  position: relative;
  float: left;
  padding: 3px;
  border-radius: 0.286em;
  text-align: center;
  font-size: 14px;
}
/* line 300, ../scss/_controls.scss */
.input-radio.item-image .label-radio:hover, .item-image.input-checkbox .label-radio:hover, .input-radio.item-image .label-checkbox:hover, .item-image.input-checkbox .label-checkbox:hover {
  background-color: whitesmoke;
}
/* line 305, ../scss/_controls.scss */
.input-radio.item-image .image-radio, .item-image.input-checkbox .image-radio {
  display: block;
  position: relative;
  max-width: 80px;
  max-height: 80px;
  border-radius: 0.286em;
}
/* line 314, ../scss/_controls.scss */
.input-radio.item-image .is-selected .label-radio, .item-image.input-checkbox .is-selected .label-radio, .input-radio.item-image .is-selected .label-checkbox, .item-image.input-checkbox .is-selected .label-checkbox,
.input-radio.item-image input[type="radio"]:checked + .label-radio,
.item-image.input-checkbox input[type="radio"]:checked + .label-radio,
.input-radio.item-image input[type="radio"]:checked + .label-checkbox,
.item-image.input-checkbox input[type="radio"]:checked + .label-checkbox {
  background-color: #8cbeda;
}
/* line 320, ../scss/_controls.scss */
.input-radio.item-image input[type="radio"]:disabled + .label-radio:hover, .item-image.input-checkbox input[type="radio"]:disabled + .label-radio:hover, .input-radio.item-image input[type="radio"]:disabled + .label-checkbox:hover, .item-image.input-checkbox input[type="radio"]:disabled + .label-checkbox:hover {
  background-color: transparent;
}
/* line 324, ../scss/_controls.scss */
.input-radio.item-image input[type="radio"]:disabled + .label-radio .image-radio, .item-image.input-checkbox input[type="radio"]:disabled + .label-radio .image-radio, .input-radio.item-image input[type="radio"]:disabled + .label-checkbox .image-radio, .item-image.input-checkbox input[type="radio"]:disabled + .label-checkbox .image-radio {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 342, ../scss/_controls.scss */
.line-through input:checked + .label-checkbox {
  text-decoration: line-through;
}

/*
# textarea
*/
/*
# file
*/
/* line 367, ../scss/_controls.scss */
.input-file-droppable {
  display: none;
}

/* line 371, ../scss/_controls.scss */
.input-file-item {
  display: block;
}

/* line 375, ../scss/_controls.scss */
.input-file-delete {
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px dotted #dddddd;
  overflow: hidden;
  white-space: nowrap;
}
/* line 382, ../scss/_controls.scss */
.is-disabled .input-file-delete {
  color: #cccccc;
}

/* line 387, ../scss/_controls.scss */
.input-file-name {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 99%;
  padding: 3px 100px 3px 3px;
}

/* line 395, ../scss/_controls.scss */
.input-file-action {
  display: inline-block;
  position: absolute;
  right: 0;
}
/* line 400, ../scss/_controls.scss */
.input-file-action a {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 3px;
  background: url(../image/component/close_12x12.png) no-repeat center center transparent;
}
/* line 407, ../scss/_controls.scss */
.input-file-action a:hover {
  background-color: whitesmoke;
}
/* line 412, ../scss/_controls.scss */
.is-disabled .input-file-action {
  display: none;
}

/* line 417, ../scss/_controls.scss */
.input-file-size {
  display: inline-block;
  position: absolute;
  right: 40px;
  width: 60px;
  padding: 3px;
  text-align: right;
}

/* line 426, ../scss/_controls.scss */
.input-file-clearer {
  display: inline-block;
}

/* line 430, ../scss/_controls.scss */
.input-file-button {
  cursor: default;
  position: relative;
  padding: 3px 20px;
}

/* line 442, ../scss/_controls.scss */
.input-file-upload {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 3px 0;
}
/* line 451, ../scss/_controls.scss */
.input-file-upload input[type="file"] {
  cursor: default;
  display: inline-block;
}

/* line 457, ../scss/_controls.scss */
.input-file-inline-text {
  margin: 0;
  padding: 3px 6px;
  color: #666666;
}
/* line 462, ../scss/_controls.scss */
.is-disabled .input-file-inline-text {
  color: #cccccc;
}

/*
# select
*/
/* line 470, ../scss/_controls.scss */
.input-select {
  display: inline-block;
}
/* line 473, ../scss/_controls.scss */
.input-select select {
  min-width: 120px;
  max-width: 99%;
  height: 28px;
  vertical-align: top;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-radius: 0.286em;
  background-color: white;
}
/* line 484, ../scss/_controls.scss */
.inline-image + .input-select {
  vertical-align: top;
  margin: 3px;
}

/*
# button
*/
/* line 493, ../scss/_controls.scss */
.button-primary, .button-base, .button-cancel, .button-pre, .button-next, .button-delete {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  min-width: 6em;
  vertical-align: middle;
  padding: .6em 1.1em;
  border: 1px solid #dddddd;
  border-radius: 0.286em;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
/* line 507, ../scss/_controls.scss */
.button-primary:hover, .button-base:hover, .button-cancel:hover, .button-pre:hover, .button-next:hover, .button-delete:hover {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

/* line 512, ../scss/_controls.scss */
.lists.menu-dropdown.is-open .button-toggle, .lists.menu-dropdown .button-toggle:active, .prepend-button:active, .append-button:active, .input-file-button:active, .button-base:active, .button-cancel:active, .button-pre:active, .button-next:active, .button-primary:active, .button-delete:active {
  border-color: #dddddd;
  background-color: #e3e3e3;
  background-image: none;
  color: #333333;
}
/* line 518, ../scss/_controls.scss */
.lists.menu-dropdown.is-open .button-toggle:hover, .lists.menu-dropdown .button-toggle:hover:active, .prepend-button:hover:active, .append-button:hover:active, .input-file-button:hover:active, .button-base:hover:active, .button-cancel:hover:active, .button-pre:hover:active, .button-next:hover:active, .button-primary:hover:active, .button-delete:hover:active {
  text-shadow: none;
}

/* line 523, ../scss/_controls.scss */
.is-disabled .lists.menu-dropdown .button-toggle, .is-disabled .lists.menu-dropdown.is-open .button-toggle, .is-disabled .input-file-button {
  background-color: #eeeeee;
  background-image: none;
  color: #cccccc;
}
/* line 528, ../scss/_controls.scss */
.is-disabled .lists.menu-dropdown .button-toggle:hover, .is-disabled .lists.menu-dropdown.is-open .button-toggle:hover, .is-disabled .input-file-button:hover {
  text-shadow: none;
  background-color: #eeeeee;
  background-image: none;
  color: #cccccc;
}

/* line 536, ../scss/_controls.scss */
.lists.menu-dropdown .button-toggle, .prepend-button, .append-button, .input-file-button, .button-base, .button-cancel, .button-pre, .button-next {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-color: whitesmoke;
}
/* line 540, ../scss/_controls.scss */
.lists.menu-dropdown .button-toggle:hover, .prepend-button:hover, .append-button:hover, .input-file-button:hover, .button-base:hover, .button-cancel:hover, .button-pre:hover, .button-next:hover {
  text-shadow: -1px 1px 0 white;
  background-image: none;
}

/* line 550, ../scss/_controls.scss */
.button-primary {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #1a89d0), color-stop(100%, #3cabf2));
  background-image: -webkit-linear-gradient(bottom, #1a89d0, #3cabf2);
  background-image: -moz-linear-gradient(bottom, #1a89d0, #3cabf2);
  background-image: -o-linear-gradient(bottom, #1a89d0, #3cabf2);
  background-image: linear-gradient(bottom, #1a89d0, #3cabf2);
  border-color: #09598c;
  background-color: #3cabf2;
  color: white;
}
/* line 556, ../scss/_controls.scss */
.button-primary:hover {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-image: none;
}

/* line 566, ../scss/_controls.scss */
.button-delete {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d8664c), color-stop(100%, #9a3c25));
  background-image: -webkit-linear-gradient(top, #d8664c, #9a3c25);
  background-image: -moz-linear-gradient(top, #d8664c, #9a3c25);
  background-image: -o-linear-gradient(top, #d8664c, #9a3c25);
  background-image: linear-gradient(top, #d8664c, #9a3c25);
  border-color: #4b1e1d;
  background-color: #b94a48;
  color: white;
}
/* line 572, ../scss/_controls.scss */
.button-delete:hover {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-image: none;
}

/* line 594, ../scss/_controls.scss */
.button-pre {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

/* line 599, ../scss/_controls.scss */
.button-next {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

/*
# link
*/
/* line 612, ../scss/_controls.scss */
a[class|="link"] {
  color: #0082b4;
  text-decoration: none;
}
/* line 616, ../scss/_controls.scss */
a[class|="link"]:hover {
  text-decoration: underline;
}

/*
# link
*/
/* line 8, ../scss/_typography.scss */
.link-modal {
  cursor: pointer;
  color: #0082b4;
}

/*
# icon
*/
/* line 16, ../scss/_typography.scss */
.icon-yes, .icon-no {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 24, ../scss/_typography.scss */
.icon-yes {
  background-image: url(../image/component/check_7x7.png);
}

/* line 29, ../scss/_typography.scss */
.icon-no {
  background-image: url(../image/component/close_7x7.png);
}

/*
# text
*/
/* line 37, ../scss/_typography.scss */
.example-view, .example-code textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 260px;
  margin-left: 10px;
  padding: 3px 10px;
  border: 1px solid #dddddd;
  border-radius: 0.286em;
  background-color: #f1f1f1;
}

/* line 49, ../scss/_typography.scss */
.example-code textarea {
  font: 14px/20px Consolas, "Courier New", Courier, Monaco, monospace;
}

/*
# table
*/
/* line 58, ../scss/_typography.scss */
.table, .table-speficity, .table-results {
  margin-bottom: 20px;
  margin-left: 10px;
}
/* line 62, ../scss/_typography.scss */
.table th, .table-speficity .table th, .table .table-speficity th, .table-results .table th, .table .table-results th, .table .table-speficity th, .table-speficity .table th, .table-speficity th, .table-results .table-speficity th, .table-speficity .table-results th, .table .table-results th, .table-results .table th, .table-speficity .table-results th, .table-results .table-speficity th, .table-results th, .table td, .table-speficity .table td, .table .table-speficity td, .table-results .table td, .table .table-results td, .table .table-speficity td, .table-speficity .table td, .table-speficity td, .table-results .table-speficity td, .table-speficity .table-results td, .table .table-results td, .table-results .table td, .table-speficity .table-results td, .table-results .table-speficity td, .table-results td {
  vertical-align: top;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}
/* line 68, ../scss/_typography.scss */
.table th, .table-speficity th, .table-results th {
  font-weight: normal;
}

/* line 81, ../scss/_typography.scss */
.table-speficity td, .table-results td {
  text-align: center;
}
/* line 85, ../scss/_typography.scss */
.table-speficity td:first-child, .table-results td:first-child {
  text-align: left;
}

/*
# color
*/
/* line 16, ../scss/base.scss */
.color-text-base {
  background-color: #333333;
}

/* line 20, ../scss/base.scss */
.color-text-sub {
  background-color: #666666;
}

/* line 24, ../scss/base.scss */
.color-text-link {
  background-color: #0082b4;
}

/* line 28, ../scss/base.scss */
.color-text-hover {
  background-color: #333333;
}

/* line 32, ../scss/base.scss */
.color-text-disabled {
  background-color: #cccccc;
}

/* line 36, ../scss/base.scss */
.color-base {
  background-color: #fbfdf6;
}

/* line 40, ../scss/base.scss */
.color-main {
  background-color: #0d3336;
}

/* line 44, ../scss/base.scss */
.color-accent {
  background-color: #e3518f;
}

/* line 48, ../scss/base.scss */
.color-sub {
  background-color: #f1f1f1;
}

/* line 52, ../scss/base.scss */
.color-hover {
  background-color: #333333;
}

/* line 56, ../scss/base.scss */
.color-selected {
  background-color: #e3e3e3;
}

/* line 60, ../scss/base.scss */
.color-border {
  background-color: #dddddd;
}

/* line 64, ../scss/base.scss */
.color-disabled {
  background-color: #eeeeee;
}

/* line 68, ../scss/base.scss */
.color-reverse {
  background-color: white;
}

/* line 72, ../scss/base.scss */
.color-save {
  background-color: #3cabf2;
}

/* line 76, ../scss/base.scss */
.color-button {
  background-color: whitesmoke;
}

/* line 80, ../scss/base.scss */
.color-warning {
  background-color: #b94a48;
}

/* line 84, ../scss/base.scss */
.color-attention {
  background-color: #c09853;
}

/* line 88, ../scss/base.scss */
.color-info {
  background-color: #3a87ad;
}

/* line 92, ../scss/base.scss */
.color-success {
  background-color: #418434;
}

/* line 96, ../scss/base.scss */
.color-focus {
  background-color: #8cbeda;
}

/* line 100, ../scss/base.scss */
.color-label-a {
  background-color: #f3efe0;
}

/* line 104, ../scss/base.scss */
.color-label-b {
  background-color: #48a770;
}

/* line 108, ../scss/base.scss */
.color-label-c {
  background-color: #aca89a;
}

/* line 112, ../scss/base.scss */
.color-label-d {
  background-color: #4bc1d2;
}

/* line 116, ../scss/base.scss */
.color-label-e {
  background-color: #e74c3c;
}

/* line 120, ../scss/base.scss */
.color-label-f {
  background-color: #95a5a6;
}

/*
# tag
*/
/* line 127, ../scss/base.scss */
html {
  height: 100%;
}

/* line 131, ../scss/base.scss */
body {
  height: 100%;
  background-color: white;
  color: #333333;
  font: 14px/1.5 Futura, "Meiryo", "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Osaka", "MS PGothic", arial, helvetica, clean, sans-serif;
  word-wrap: break-word;
}

/*
# だみーでーた表示用
*/
/* line 142, ../scss/base.scss */
pre.sample {
  margin: 0;
}

/* line 148, ../scss/base.scss */
table.sample td {
  white-space: nowrap;
}

/* line 153, ../scss/base.scss */
.inline-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 10px;
  vertical-align: middle;
}
