@charset "utf-8";
@import url(normalize.css);
/*
# set
*/
/*
# modal
*/
/* line 11, ../scss/_component.scss */
.modal {
  display: none;
}

/* line 15, ../scss/_component.scss */
body.modal-show {
  overflow: hidden;
}

/* line 21, ../scss/_component.scss */
.modal-show .modal.b-d, .modal-show .modal.b-d-1, .modal-show .modal.b-d-2 {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  height: 100%;
  overflow-y: scroll;
}
/* line 32, ../scss/_component.scss */
.modal-show .b-d .modal-mask, .modal-show .b-d-1 .modal-mask, .modal-show .b-d-2 .modal-mask {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}
/* line 43, ../scss/_component.scss */
.modal-show .b-d .modal-main, .modal-show .b-d-1 .modal-main, .modal-show .b-d-2 .modal-main {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-align: center;
}
/* line 54, ../scss/_component.scss */
.modal-show .b-d .content, .modal-show .b-d-1 .content, .modal-show .b-d-2 .content {
  display: inline-block;
  position: relative;
  min-width: 300px;
  max-width: 94%;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0 0.71429em;
  background-color: white;
  text-align: left;
}
/* line 66, ../scss/_component.scss */
.modal-show .b-d .close, .modal-show .b-d-1 .close, .modal-show .b-d-2 .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  overflow: hidden;
  border: 0 none;
  background: url(../image/component/close_12x12.png) no-repeat center center transparent;
  text-indent: 200%;
}
/* line 77, ../scss/_component.scss */
.modal-show .b-d .close:hover, .modal-show .b-d-1 .close:hover, .modal-show .b-d-2 .close:hover {
  background-color: #cdcdcd;
}
/* line 82, ../scss/_component.scss */
.modal-show .b-d .content-header, .modal-show .b-d-1 .content-header, .modal-show .b-d-2 .content-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 46px;
}
/* line 86, ../scss/_component.scss */
.modal-show .b-d .content-header .title.dialog, .modal-show .b-d-1 .content-header .title.dialog, .modal-show .b-d-2 .content-header .title.dialog {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  line-height: 46px;
  padding-right: 46px;
}
/* line 93, ../scss/_component.scss */
.modal-show .b-d .content-header .title-text, .modal-show .b-d-1 .content-header .title-text, .modal-show .b-d-2 .content-header .title-text {
  display: inline-block;
  width: auto;
  max-width: 100%;
  color: #666666;
}
/* line 102, ../scss/_component.scss */
.modal-show .b-d .controls, .modal-show .b-d-1 .controls, .modal-show .b-d-2 .controls {
  overflow: hidden;
  padding-bottom: 1.42857em;
  word-break: break-all;
}
/* line 108, ../scss/_component.scss */
.modal-show .b-d .actions, .modal-show .b-d-1 .actions, .modal-show .b-d-2 .actions {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 46px;
}
/* line 112, ../scss/_component.scss */
.modal-show .controls + .b-d .actions, .modal-show .controls + .b-d-1 .actions, .modal-show .controls + .b-d-2 .actions {
  border-top: 1px solid #dddddd;
}
/* line 117, ../scss/_component.scss */
.modal-show .b-d .button-primary, .modal-show .b-d-1 .button-primary, .modal-show .b-d-2 .button-primary {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  min-width: 6em;
  vertical-align: middle;
  margin-right: 1.8em;
  padding: .6em 1.1em;
  border: 0;
  background-color: #3cabf2;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
/* line 133, ../scss/_component.scss */
.modal-show .b-d .button-primary:hover, .modal-show .b-d-1 .button-primary:hover, .modal-show .b-d-2 .button-primary:hover {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* line 139, ../scss/_component.scss */
.modal-show .b-d-1 .content-header, .modal-show .b-d-1 .content-actions, .modal-show .b-d-2 .content-header, .modal-show .b-d-2 .actions {
  position: fixed;
  z-index: 10001;
  width: 80%;
  max-width: 800px;
  background-color: white;
}

/* line 154, ../scss/_component.scss */
.modal-show .b-d-1 .content {
  width: 80%;
  max-width: 800px;
}
/* line 159, ../scss/_component.scss */
.modal-show .b-d-1 .close {
  right: -0.71429em;
}
/* line 167, ../scss/_component.scss */
.modal-show .b-d-1 .content-actions {
  margin-top: 46px;
  border-bottom: 1px solid #dddddd;
}
/* line 173, ../scss/_component.scss */
.modal-show .b-d-1 .content-body {
  padding-top: 92px;
}
/* line 177, ../scss/_component.scss */
.modal-show .b-d-1 .controls {
  padding-top: 1.42857em;
}

/* line 185, ../scss/_component.scss */
.modal-show .b-d-2 .content {
  width: 80%;
  height: 100%;
  max-width: 800px;
  padding: 0;
}
/* line 192, ../scss/_component.scss */
.modal-show .b-d-2 .content-header {
  padding: 0 0.71429em;
  border-bottom: 1px solid #dddddd;
}
/* line 198, ../scss/_component.scss */
.modal-show .b-d-2 .controls {
  padding: 56.0px 0.71429em 56.0px;
  background-color: white;
}
/* line 203, ../scss/_component.scss */
.modal-show .b-d-2 .actions {
  bottom: 0;
  padding: 0 0.71429em;
  border-top: 1px solid #dddddd;
  background-color: rgba(255, 255, 255, 0.8);
}

/*
# title
*/
/* line 215, ../scss/_component.scss */
.title.page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1.42857em;
  background-color: #f1f1f1;
  text-align: center;
}
/* line 222, ../scss/_component.scss */
.title.page:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 229, ../scss/_component.scss */
.title.page .title-text {
  display: inline-block;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}

/*
# breadcrumb
*/
/* line 241, ../scss/_component.scss */
.breadcrumb {
  height: 100%;
  background-color: #f1f1f1;
  white-space: nowrap;
}
/* line 247, ../scss/_component.scss */
.breadcrumb .breadcrumb-label {
  display: inline-block;
  line-height: 30px;
  padding-left: 0.71429em;
}
/* line 254, ../scss/_component.scss */
.breadcrumb .breadcrumb-label:first-child {
  padding-left: 1.42857em;
}
/* line 258, ../scss/_component.scss */
.breadcrumb a.breadcrumb-label {
  max-width: 20ex;
  padding-right: 20px;
  background: url(../image/component/breadcrumb-separator_10x30.png) no-repeat right center;
  color: #666666;
  text-decoration: none;
}
/* line 265, ../scss/_component.scss */
.breadcrumb a.breadcrumb-label:hover {
  color: #333333;
}
/* line 270, ../scss/_component.scss */
.breadcrumb span.breadcrumb-label {
  max-width: 30ex;
  padding-right: 1.42857em;
  font-weight: bold;
}

/*
# panel
*/
/* line 280, ../scss/_component.scss */
.panel.page {
  height: 100%;
  background-color: #f1f1f1;
}
/* line 285, ../scss/_component.scss */
.panel.page .panel-title {
  float: left;
  margin-left: 1.42857em;
}
/* line 290, ../scss/_component.scss */
.panel.page .panel-menu {
  float: right;
  margin-right: 1.42857em;
}

/*
# lists
*/
/* line 299, ../scss/_component.scss */
.lists {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px 1px 0;
  background-color: #f1f1f1;
}
/* line 307, ../scss/_component.scss */
.lists ul {
  margin: 0;
  padding-left: 0;
}
/* line 312, ../scss/_component.scss */
.lists li {
  list-style: none;
}
/* line 316, ../scss/_component.scss */
.lists .is-selected .list-item {
  background-color: white;
}
/* line 320, ../scss/_component.scss */
.lists .list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  color: #333333;
  text-decoration: none;
}
/* line 326, ../scss/_component.scss */
.lists .list-item:hover {
  background-color: #cdcdcd;
}

/* line 334, ../scss/_component.scss */
.lists.menu-link .list-item {
  padding: 0.71429em 1.42857em;
  border-bottom: 1px solid #dddddd;
  word-break: break-all;
}
/* line 341, ../scss/_component.scss */
div[class*="type-b"] .layout-right .lists.menu-link {
  border-width: 0 0 0 1px;
}
/* line 346, ../scss/_component.scss */
div[class*="type-b"] .layout-left .lists.menu-link {
  position: fixed;
  width: 180px;
  border-width: 0 1px 0 0;
}

/* line 355, ../scss/_component.scss */
.lists.menu-icon .list-item {
  height: 60px;
  border-bottom: 1px solid #dddddd;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 362, ../scss/_component.scss */
.lists.menu-icon .list-label {
  display: none;
}
/* line 368, ../scss/_component.scss */
.lists.menu-icon .is-selected .icon-portal {
  background-image: url(../image/component/portal-selected_28x20.png);
}
/* line 368, ../scss/_component.scss */
.lists.menu-icon .is-selected .icon-notification {
  background-image: url(../image/component/notification-selected_28x20.png);
}
/* line 368, ../scss/_component.scss */
.lists.menu-icon .is-selected .icon-space {
  background-image: url(../image/component/space-selected_28x20.png);
}
/* line 374, ../scss/_component.scss */
.lists.menu-icon .icon-portal {
  background-image: url(../image/component/portal_28x20.png);
}
/* line 374, ../scss/_component.scss */
.lists.menu-icon .icon-notification {
  background-image: url(../image/component/notification_28x20.png);
}
/* line 374, ../scss/_component.scss */
.lists.menu-icon .icon-space {
  background-image: url(../image/component/space_28x20.png);
}
/* line 380, ../scss/_component.scss */
div[class*="type-b"] + .container-menu .lists.menu-icon {
  position: fixed;
  width: 60px;
  padding: 50px 0 50px;
  border-width: 0 1px 0 0;
}

/* line 6, ../scss/_placeholders.scss */
.breadcrumb, .panel.page, .pane-2 {
  *zoom: 1;
}
/* line 38, ../../../../../../Users/kambie/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.breadcrumb:after, .panel.page:after, .pane-2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 15, ../scss/_placeholders.scss */
.modal-show .b-d .button-primary, .modal-show .b-d-1 .button-primary, .modal-show .b-d-2 .button-primary {
  -webkit-border-radius: 0.286em;
  -moz-border-radius: 0.286em;
  -ms-border-radius: 0.286em;
  -o-border-radius: 0.286em;
  border-radius: 0.286em;
}

/* line 19, ../scss/_placeholders.scss */
.modal-show .b-d .content-header .title-text, .modal-show .b-d-1 .content-header .title-text, .modal-show .b-d-2 .content-header .title-text, .title.page .title-text, .breadcrumb .breadcrumb-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 27, ../scss/_placeholders.scss */
.modal-show .b-d .modal-main:before, .modal-show .b-d-1 .modal-main:before, .modal-show .b-d-2 .modal-main:before, .modal-show .b-d .actions:before, .modal-show .b-d-1 .actions:before, .modal-show .b-d-2 .actions:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

/*
# link
*/
/* line 7, ../scss/_typography.scss */
.link-modal {
  cursor: pointer;
  color: #0082b4;
}

/*
# container
*/
/* line 15, ../scss/preview.scss */
.container {
  min-height: 100%;
}

/* line 19, ../scss/preview.scss */
.container-top {
  width: 100%;
  height: 50px;
  background-color: #0d3336;
  color: white;
}

/* line 26, ../scss/preview.scss */
.container-menu {
  background-color: #f1f1f1;
}

/* line 30, ../scss/preview.scss */
.container-bottom {
  height: 50px;
  background-color: #fbfdf6;
}

/*
# type-preview
*/
/* line 38, ../scss/preview.scss */
.type-preview {
  padding: 1.42857em;
  background-color: white;
  word-break: break-all;
}

/* line 44, ../scss/preview.scss */
.caption-under {
  display: inline-block;
  position: relative;
  margin-bottom: 1.42857em;
  padding-bottom: 0.21429em;
  border-bottom: 1px solid #0d3336;
  background-color: #f1f1f1;
}
/* line 52, ../scss/preview.scss */
.caption-under:after {
  content: attr(title);
  display: block;
  position: absolute;
  left: .5em;
  bottom: -1.64286em;
  white-space: nowrap;
}
/* line 61, ../scss/preview.scss */
.caption-under:before {
  /*content: '\2191';*/
}

/* line 70, ../scss/preview.scss */
.pane-2 .left,
.pane-2 .right {
  float: left;
  margin-right: 5.71429em;
}

/* line 78, ../scss/preview.scss */
.list-label .label {
  display: inline-block;
  min-width: 10em;
  margin-bottom: 0.71429em;
}

/* line 88, ../scss/preview.scss */
.speficity th,
.speficity td {
  padding: 0.71429em;
  border-bottom: 1px solid #dddddd;
}
/* line 93, ../scss/preview.scss */
.speficity td {
  text-align: center;
}
/* line 97, ../scss/preview.scss */
.speficity td:first-child {
  text-align: left;
}
