@charset "utf-8";
/* line 13, ../../scss/_placeholders.scss */
.pane-2 {
  *zoom: 1;
}
/* line 38, ../../../../../../../Users/kambie/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pane-2:after {
  content: "";
  display: table;
  clear: both;
}

/*
# container
*/
/* line 9, ../../scss/layout/preview.scss */
.container {
  min-height: 100%;
}

/* line 13, ../../scss/layout/preview.scss */
.container-top {
  width: 100%;
  height: 40px;
  background-color: #0d3336;
  color: white;
}

/* line 20, ../../scss/layout/preview.scss */
.container-menu {
  background-color: #f1f1f1;
}

/* line 24, ../../scss/layout/preview.scss */
.container-bottom {
  height: 50px;
  background-color: #fbfdf6;
}

/*
# type-preview
*/
/* line 32, ../../scss/layout/preview.scss */
.type-preview {
  padding: 20px;
}

/* line 36, ../../scss/layout/preview.scss */
.caption-under {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 3px;
  border-bottom: 1px solid #0d3336;
  background-color: #f1f1f1;
}
/* line 44, ../../scss/layout/preview.scss */
.caption-under:after {
  position: absolute;
  bottom: -23px;
  left: .5em;
  display: block;
  content: attr(title);
  white-space: nowrap;
}
/* line 53, ../../scss/layout/preview.scss */
.caption-under:before {
  /*content: '\2191';*/
}

/* line 62, ../../scss/layout/preview.scss */
.pane-2 .left,
.pane-2 .right {
  float: left;
  margin-right: 80px;
}

/* line 71, ../../scss/layout/preview.scss */
.list-item-label .label {
  display: inline-block;
  margin-bottom: 10px;
  min-width: 10em;
}

/* line 79, ../../scss/layout/preview.scss */
.theme-document {
  background: #f3efe0;
}

/* line 83, ../../scss/layout/preview.scss */
h2.title {
  margin: 0;
}

/* line 87, ../../scss/layout/preview.scss */
h3.title {
  margin: 40px 0 10px;
  padding-top: 10px;
  border-top: 1px dashed #dddddd;
}
/* line 92, ../../scss/layout/preview.scss */
h3.title:after {
  position: relative;
  top: 0;
  right: -10px;
  display: inline-block;
  padding: 0 3px;
  background: transparent;
  color: #dddddd;
  content: '\002702';
}

/* line 104, ../../scss/layout/preview.scss */
h4.title {
  display: inline-block;
  margin: 10px 0 3px;
  padding: 10px;
  background-color: #48a770;
  color: white;
}

/* line 112, ../../scss/layout/preview.scss */
h5.title {
  margin: 10px 0 3px;
}

/* line 116, ../../scss/layout/preview.scss */
.box {
  margin-bottom: 20px;
}
